@model Dictionary<string, string>

@{
    Layout = null;
}

<style>
    td {
        padding: 0 15px;
    }
</style>

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>CIPS Transfer Receipt - Thaili Digital Paisa</title>
</head>

<body class="container" style="background-image: url('../../Content/assets/img/thaili-logo.png'); background-repeat:no-repeat">

    <div class="row" style="margin:600px 100px 200px 100px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <h1 style="text-align:center">ConnectIPS Transfer Receipt</h1><hr /><br />
        <div class="col-md-12"><span style="font-size:26px"><b>Sender Details</b></span> </div><hr />
        <table style="font-size:20px" ;>
            <tr>
                <td>Account Name</td>
                <td>@Model["SenderName"]</td>
            </tr>
            <tr>
                <td>Account Number</td>
                <td>@Model["SenderAccountNumber"]</td>
            </tr>
            <tr>
                <td>Bank Name</td>
                <td>Nepal Investment Bank Limited</td>
            </tr>

        </table><br /><br />
        <div class="col-md-12"><span style="font-size:26px"><b>Receiver Details</b></span> </div><hr />
        <table style="font-size:20px" ;>
            <tr>
                <td>Account Name</td>
                <td>@Model["DestinationAccountName"]</td>
            </tr>
            <tr>
                <td>Account Number</td>
                <td>@Model["DestinationAccountNumber"]</td>
            </tr>

            <tr>
                <td>Bank Name</td>
                <td>@Model["DestinationBank"]</td>
            </tr>
        </table><br /><br />
        <div class="col-md-12"><span style="font-size:26px"><b>Transaction Details</b></span> </div><hr />
        <table style="font-size:20px" ;>
            <tr>
                <td>Amount</td>
                <td>Rs. @Model["Amount"].00</td>
            </tr>
            <tr>
                <td>Charge</td>
                <td>Rs. @Model["Charge"].00</td>
            </tr>
            <tr>
                <td>Remarks</td>
                <td>@Model["Remarks"]</td>
            </tr>
            <tr>
                <td>Reference No.</td>
                <td>@Model["ReferenceNo"]</td>
            </tr>
            <tr>
                <td>TimeStamp</td>
                <td>@Model["TimeStamp"]</td>
            </tr>
        </table>
    </div>
</body>
</html>
