@model Dictionary<string, string>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CIPS Payment Invoice - Thaili Digital Paisa</title>
</head>
<body class="container">
    <div class="row" style="margin:600px 100px 200px 100px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <h1 style="text-align:center">ConnectIPS Transfer Advice</h1><hr /><br />
        <div class="col-md-12"><span style="font-size:26px"><b>Sender Details</b></span> </div><hr />
        <div class="col-md-12"><span style="font-size:26px">Account Name : @Model["SenderName"]</span> </div>
        <div class="col-md-12"><span style="font-size:26px">Account Number : @Model["SenderAccountNumber"]</span> </div>
        <div class="col-md-12"><span style="font-size:26px">Bank Name : Nepal Investment Bank Limited</span> </div><br /><br /><br />
        <div class="col-md-12"><span style="font-size:26px"><b>Receiver Details</b></span> </div><hr />
        <div class="col-md-12"><span style="font-size:26px">Account Number : @Model["DestinationAccountNumber"]</span> </div>
        <div class="col-md-12"><span style="font-size:26px">Account Name : @Model["DestinationAccountName"] </span></div>
        <div class="col-md-12"><span style="font-size:26px">Bank  Name : @Model["DestinationBank"] </span></div>
        <div class="col-md-12"><span style="font-size:26px">Branch Name : @Model["DestinationBranch"]</span> </div><br /><br /><br />
        <div class="col-md-12"><span style="font-size:26px"><b>Transaction Details</b></span> </div><hr />
        <div class="col-md-12"><span style="font-size:26px">Amount : NPR. @Model["Amount"]</span> </div>
        <div class="col-md-12"><span style="font-size:26px">Charge : NPR. @Model["Charge"]</span> </div>
        <div class="col-md-12"><span style="font-size:26px">Remarks : @Model["Remarks"]</span> </div>
        <div class="col-md-12"><span style="font-size:26px">Reference No : @Model["ReferenceNo"]</span> </div>
        <div class="col-md-12"><span style="font-size:26px">TimeStamp : @Model["TimeStamp"]</span> </div>


    </div>
</body>
</html>
